*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 font-family:Ariel,sans-serif;
 font-size: 62.5%;
 line-height: 1.4;
}
.conteiner{
  width: 90vw;
  background-color: white;
  margin: 1rem auto;
}
.header{
  background-color: #000;
  padding: 2rem 3rem;
  color: #fff;

}
.logo{
  width:4rem;
}
.ime{
  float:left;
}
.heading1{
  display: inline-block;
  padding-left: .5rem;
  transform: translateY(.5rem);
  font-size: 2.8rem;
  }
.heading2{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.navigacija{
  float: right;
  margin-top: 2.6rem;

}
.listitem{
  float: left;
  padding: 0 1rem;
  transition: all .4s;
  }
.listitem a{
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
.listitem:hover{
  transform: scale(1.3)
             rotate(2deg);

  }

.clearfix::before,.clearfix::after{
  content: " ";
  display: table;
  clear: both;
}
.listreset{
  list-style: none;
}
.main{
    padding: 3rem 0 7rem 0;
    position: relative;
    width: 100%;
    height: 100%;

}
.main-story{
  width: 75%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.9);
  color:#fff;
  padding: 2rem;
  font-size: 1.4rem;
  z-index: 3;
  transform:skewX(-12deg);


}
.main-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .5;
  overflow: hidden;


}
.videocontent{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.center{
  text-align: center;
}
.big{
  margin: 1rem;
}
.footer{
  background-color:#000 ;
  padding: 4rem;
  color:#fff;
  font-size: 1.3rem;
  position: relative;
}
.kontakt{
  float: left;

}
.footer p{
  float: right;
  position: absolute;
  right: 1rem;
  bottom: 4rem;
}

#o-rasi{
  font-size: 1.8rem;
  font-family:Ariel,sans-serif;
   background-color: #F8F8F8;
   padding:8rem 0;
}
#slider{
  width:30rem;
  height:25rem;
  margin: 3rem auto;
}
#slider img{
  width:30rem;
  height: 25rem;
}


.karakteristike{
padding: 1rem;
font-size: 1.4rem;
text-indent: 1.5rem;
width:80%;
margin: 0 auto;}

#psi-za-prodaju{
  padding: 3rem;
  background-image:linear-gradient(to right top,#424242,#000);
  }

.col-1-of-3 {
      width:30%;
      float: left;
  }
.col-1-of-3:not(:last-child) {
      margin-right:5%;}

.card{
  -webkit-perspective: 1500px;
  -ms-perspective:1500px;
  -moz-perspective: 1500px;
  -o-perspective: 1500px;
    perspective: 1500px;
  position: relative;
  height: 30rem;
  margin: 3rem 1rem;
}
.card-side{
  background-color: yellow;
  height: 30rem;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
         backface-visibility: hidden;
}

.back{
  background-image: linear-gradient(to right top, #fff, #595a59);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;

}
.card:hover .front{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.back p{
  text-transform: uppercase;
  text-indent: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin:1rem;
  }
  .front span{
    color:red;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
  }
  .front1{
    background-image: url("img/stene4.jpg");
    background-size: cover;
    background-position: center;
  }
  .front2{
    background-image: url("img/stene3.jpg");
    background-size: cover;
    background-position: center;
  }
  .front3{
    background-image: url("img/stene5.jpg");
    background-size: cover;
    background-position: center;

  }
  .slicica{
    width: 10rem;
    height:10rem;
    margin: 1rem auto;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .white{
    color: #fff;
    text-transform:uppercase;
      }
  #pitajte{
    padding: 12rem 0;
    background-image: linear-gradient(
#e8e8e8,#767676 );

  }
  .forma{
     background-image:linear-gradient(100deg,#fff 0%,#fff 40%, transparent 100%),
                      url("img/stene9.jpg");
     background-size: cover;
     background-position: center;
     margin: 0 10rem;
     box-shadow: 0 2rem 4rem rgba(0,0,0,.5);
    }
.formaforma{
  width: 50%;
  padding: 5rem;
}

.formgroup{
  margin-bottom: 2rem;
}
.forminput{
  font-size:1.4rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(236,236,236,.5);
  border: none;
  width: 90%;
  display:block;
  border-bottom: 2px solid transparent;
}
textarea{
  background-color: rgba(236,236,236,.5);
  border: none;
  width: 90%;
  display:block;
  border-bottom: 2px solid transparent;
  font-size:1.4rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
}

.forminput:focus, textarea:focus{
     outline: none;
     box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
     border-bottom: 2px solid #000;
}
.forminput:focus:invalid{
  border-bottom: 2px solid red;}
.formlabel{
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .4s;
}
.forminput:placeholder-shown+.formlabel{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
 .dugme{
   width: 35%;
   height: 4rem;
   color: #000;
   background-color: rgba(236,236,236,.5);
   font-size:1.5rem;
   margin-top: 1.5rem;
   transition: all .4s;

 }
 .dugme:hover{
   transform: scale(1.2);
 }

 @media (max-width:56.25em){
   .navigacija{

     width: 100% !important;

   }
     .col-1-of-3{
     width: 100% !important;
     margin: 2rem auto;
   }
   .karakteristike{
     width: 100%;
   }
   #pitajte{
     padding:5rem 0;
   }
   .forma{
     margin: 0;
   }
   .formaforma{
     width: 65%;
   }
   .footer p{
     float: none;
     left: 4rem;
     bottom: 0rem;
     padding-top:3rem;
       }
   }
 @media (max-width:31.25em){
   .header{
     padding: 1rem;
   }
   .main-story{
     transform: none;}
   .listitem{
      padding: 0 0.5rem;
    }

   .listitem a{
     font-size: 1.4rem;
   }
   .formaforma{
     width: 80%;
     padding: 2rem;
   }
   .footer{
     font-size: 1.1rem;}
 }
